.register-card {
    background-color: white;
    border-radius: 15px;
    padding: 20px;
    width: 100%;
    box-shadow: rgb(36, 36, 36) 10px 8px;
    position: relative;
  }
  .register-card h2 {
    background-color: white;
    color: #ff4b8b;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
    position: absolute;
    top: -35px;
    left: 0;
  }
  .form-group {
    margin-bottom: 20px;
  }
  .form-group label {
    color: #ff4b8b;
    font-weight: bold;
  }
  .form-control {
    border: none;
    border-bottom: 2px solid #ff4b8b;
    border-radius: 0;
    box-shadow: none;
  }
  .btn-register {
    background-color: #ff4b8b;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
  }
  .image-container img {
    max-width: 100%; /* Ensure image scales down on smaller screens */
    max-height: 500px;
    box-shadow: rgb(0, 0, 0) 10px 8px;
    border-radius: 15px;
  }

     /* Media Queries for Responsiveness */
     @media (max-width: 768px) {
    .row {
      flex-direction: column; /* Stack elements vertically on mobile */
    }
    .image-container,
    .register-container {
      margin-bottom: 20px; /* Add spacing between elements on mobile */
    }
  }

  .login-card {
    margin-top: 7%;
  background-color: white;
  border-radius: 15px;
  padding: 20px;
  width: 100%;
  box-shadow: rgb(36, 36, 36) 10px 8px;
  position: relative;
}
.login-card h2 {
  background-color: white;
  color: #ff4b8b;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 10px;
  position: absolute;
  top: -35px;
  left: 0;
}

.btn-login {
  background-color: #ff4b8b;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
}
